<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>    
      <class name="Global_Executions.Reports"/>
      <class name="Global_Executions.Login_Screen"/>
      <class name="S2.ShoppingListManagement.TC_06_Active_Inactive"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
